In [29]:
import pandas as pd
ruta_archivo = "GM ciudad-y-continentes-codigos-lista.csv"
ruta_archivo2 = "GM jugadores-con-mayores-ganancias.csv"

In [30]:
dataframeciudades = pd.read_csv(ruta_archivo)
dataframejugadores = pd.read_csv(ruta_archivo2)

In [ ]:
print(dataframeciudades.head())  
print(dataframejugadores.head())

In [32]:
#Limpiar datos
dataframe = dataframeciudades.dropna()
dataframe2 = dataframejugadores.dropna()

In [33]:
#Limpiar dataframe
dataframelimpio = len(dataframe)
dataframelimpio2 = len(dataframe2)

In [45]:
#Verificar limpiado
print("El largo del DataFrame es:", dataframelimpio)

El largo del DataFrame es: 214

In [46]:
print("El largo del dataframe es:" , dataframelimpio2)

El largo del dataframe es: 1000

In [ ]:
dataframe['Ciudad'] = dataframe['Ciudad'].str.split(',').str[0]
#lIMPIAR DATAFRAME CIUDAD

In [ ]:
# Convertir los códigos de ciudad en dataframe2 a mayúsculas
dataframe2['codigociudad'] = dataframe2['codigociudad'].str.upper()

In [ ]:
#renombrar columnas para que coincidan
dataframe.rename(columns={'Ciudad-Code': 'codigociudad'}, inplace=True)

In [64]:
# Fusionar los DataFrames basados en el código de ciudad en mayúsculas
dataframefinal = pd.merge(dataframe2, dataframe[['codigociudad', 'Ciudad']], on='codigociudad', how='left')

In [ ]:
dataframefinal = dataframefinal.dropna()
# Ahora dataframefinal no contendrá filas con valores nulos
print(dataframefinal.head())

In [68]:
dataframefinal

,Idjugador,nombre,apellido,nickname,codigociudad,total-ganancias,juego,genero,Ciudad
0,3883,Peter,Rasmussen,dupreeh,DK,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter,Denmark
1,3679,Andreas,Højsleth,Xyp9x,DK,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter,Denmark
2,3885,Nicolai,Reedtz,dev1ce,DK,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter,Denmark
3,3672,Lukas,Rossander,gla1ve,DK,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter,Denmark
4,17800,Emil,Reif,Magisk,DK,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter,Denmark
...,...,...,...,...,...,...,...,...,...
1025,38798,-,-,Trunks,CN,51231.70,Hearthstone,Collectible Card Game,China
1026,8321,Petar,Stevanovic,Gaara,DE,51059.59,Hearthstone,Collectible Card Game,Germany
1027,7400,Janne,Mikkonen,Savjz,FI,50734.44,Hearthstone,Collectible Card Game,Finland
1029,49164,Simone,Liguori,Leta,IT,49300.00,Hearthstone,Collectible Card Game,Italy
1031,1100,Jeffrey,Brusi,SjoW,SE,47973.61,Hearthstone,Collectible Card Game,Sweden

In [72]:

nombre_archivo_csv = "archivo.csv"
dataframefinal.to_csv(nombre_archivo_csv, index=False)

print("DataFrame guardado como CSV en la carpeta actual con el nombre:", nombre_archivo_csv)

DataFrame guardado como CSV en la carpeta actual con el nombre: archivo.csv